.userInfo {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
}

@media (max-width: 768px) {
  .userInfo {
    align-items: center;
  }
}

.avatar {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin-bottom: 29px;
}
.userName {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 12px;
}

.githubLink {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
}

.followContainer {
  display: flex;

  column-gap: 20px;
  font-size: 16px;
  line-height: 24px;
}

.followContainer img {
  margin-right: 9px;
}
